# Stack del Proyecto
- Node.js
- Nest.js
- TypeORM
- PostgreSQL

# Reglas de Arquitectura del Proyecto
- Sigue estrictamente el patrón Hexagonal + DDD con vertical slice.
- Cada módulo debe tener una única responsabilidad y ser lo más pequeño posible.
- La arquitectura debe ser purista, evitando dependencias externas.
- Aplicar los principios SOLID pero evitando la sobre ingeniería.

# Reglas para carpetas y archivos
- Los nombres de carpeta y archivos deben ser en kebab-case (ej: user-repository).
- Los nombres de las clases deben ser en PascalCase (ej: UserRepository).
- Los nombres de los métodos, parámetros y variables deben ser en camelCase (ej: getUserById).
- Los nombres de las constantes y variables de entorno deben ser en UPPER_SNAKE_CASE (ej: USER_ID).

# Reglas para la creacion de nuevos modulos
- Cada nuevo módulo debe tener las carpetas: /core, /app, /infrastructure.
- No importes o uses decoradores y librerias externas en la capa core y app, solo en la capa infrastructure.
- Manten la capa core y  app agnostica a librerias externas como nestjs o cualquier funcionalidad importada directamente.
- Guiate de la estructura de los modulos existentes.
- Garantiza la consistencia estandar del proyecto en todos los modulos.
- Usa el sistema de Roles y Permisos actual.
- Agrega los permisos necesarios para el modulo.
- Genera las migraciones necesarias respetando las llaves foráneas.
- Garantiza que todo el ciclo de vida de las peticiones a la api funcionen.
- cuando termines de crear los modulos exporta explicacion detallada de las reglas de negocio que creaste.

# Reglas de base de datos
- los nombres de las  tablas deben estar en español.
- los nombres de las columnas deben estar en ingles.
- todas las tablas que pertenescan a un modulo deben tener el prefijo del modulo en ingles y abreviado usando minusculas y como separador un guion bajo.












